html, body {
  height: 100%;
  width: 100%;
}
.container{
	width: 100%;
}
.leftside{
	overflow: auto;
	min-height: 100%;
	background: #b2ccd4 !important;
	height: 100vh;
}
.centerside{
	height: 100vh;
	overflow-x: hidden;
	width: 50% !important;
	padding-left: 5%;
	background: #ebebeb;
}
.rightside{
	height: 100vh;
	overflow-x: hidden;
	width: 25% !important;
	padding-left: 5%;
	background: #cacaf1;
}
.form-control{
	width: 90% !important;
}
.idhiden{
	display:none;
}
i{
	color: #fb5858;
}
p{
	width: 80%;
    border: 1px solid;
    border-radius: 14px;
    padding: 10px;
    background: #d3d3eb;
}
.useravatar{
    margin-right: 10px;
    width: 50px; 
    height: 50px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -khtml-border-radius: 50%;
}
.useravatar_small{
	margin-right: 5px;
    width: 22px; 
    height: 22px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -khtml-border-radius: 50%;
}
/*
#title2>div:nth-of-type(3){
	margin-left: 4%;
}
*/
.сollapse{
	background: #fcfcff;
	text-align: right;
}
.caret-up{
	border-bottom: 10px solid #000000;
    border-left: 6px solid rgba(0, 0, 0, 0);
    border-right: 6px solid rgba(0, 0, 0, 0);
    content: "";
    display: inline-block;
    height: 0;
    vertical-align: top;
    width: 0;
	margin-top: 5px;
	margin-right: 5px;
}
